<div>
  <div *ngIf="!authService.isAuthenticated()">
    <button (click)="authService.login()">LOG IN</button>
  </div>
  <div *ngIf="authService.isAuthenticated()">
    <button (click)="authService.logout()">LOG OUT</button>
  </div>
  <div>
    <button (click)="logAccessToken()">LOG ACCESS TOKEN</button>
  </div>
  <div>
    <button (click)="logIdToken()">LOG ID TOKEN</button>
  </div>
</div>

<div>
  <button (click)="get()">GET</button>
  <button (click)="put()">PUT</button>
  <button (click)="post()">POST</button>
</div>

<router-outlet></router-outlet>
