<div>
  <div>
    <button (click)="authService.login()">LOG IN</button>
  </div>
  <div>
    <button (click)="authService.logout()">LOG OUT</button>
  </div>
  <div>
    <button (click)="logIdToken()">LOG ID TOKEN</button>
  </div>
  <div>
    <button (click)="getRefreshToken()">GET REFRESH TOKEN</button>
  </div>
  <div>
    <button (click)="isLoggedIn()">IS LOGGED IN</button>
  </div>
</div>

<div>
  <button (click)="get()">GET</button>
  <button (click)="put()">PUT</button>
  <button (click)="post()">POST</button>
</div>

<router-outlet></router-outlet>
